.row {
  margin: 0px;
  padding: 10px; }

.jumbotron {
  background: #9c34e2;
  background: -moz-linear-gradient(top, #7b16ad 0%, #7b16ad 9%, #8e48bd 44%, #dfc8e6 88%, #dfc8e6 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #7b16ad), color-stop(9%, #7b16ad), color-stop(44%, #8e48bd), color-stop(88%, #dfc8e6), color-stop(100%, #dfc8e6));
  background: -webkit-linear-gradient(top, #7b16ad 0%, #7b16ad 9%, #8e48bd 44%, #dfc8e6 88%, #dfc8e6 100%);
  background: -o-linear-gradient(top, #7b16ad 0%, #7b16ad 9%, #8e48bd 44%, #dfc8e6 88%, #dfc8e6 100%);
  background: -ms-linear-gradient(top, #7b16ad 0%, #7b16ad 9%, #8e48bd 44%, #dfc8e6 88%, #dfc8e6 100%);
  background: linear-gradient(to bottom, #7b16ad 0%, #7b16ad 9%, #8e48bd 44%, #dfc8e6 88%, #dfc8e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b16ad', endColorstr='#dfc8e6', GradientType=0 );
  width: 100%;
  color: #ffffff;
  border-radius: 0px;
  margin-top: 50px; 
}

.card-skill {
  flex: 1 300px;
  margin: 25px;
  padding: 0px;
  border-color: rgba(107, 105, 105, 0.37);
  -webkit-box-shadow: 10px 10px 9px 0px #ccc2cc;
  -moz-box-shadow: 10px 10px 9px 0px #ccc2cc;
  box-shadow: 10px 10px 9px 0px #ccc2cc; }

.btn-prod {
  width: 100%; }

.footer-nav {
  padding: 0 80px 20px;
  margin-top: 50px; }

.card-footer {
  background-color: #ffffff;
  border-top: 0px; }

.footer-nav p {
  margin: 0; }

.informacion {
  margin-bottom: 35px; }

.footer-icon {
  margin: 0 8px;
  text-align: center;
  padding: 2px; }

#nav-tab {
  margin-bottom: 30px; }

#btn-index {
  text-decoration: none;
  color: black; }

.accordion {
  padding: 20px; }

.coll {
  text-align: center; }
